<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <button mat-raised-button color="primary" [disabled]="isDisabled">Primary</button>
  <button mat-raised-button color="accent" (click)="onClick()">Event</button>
  
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" [(ngModel)]="title" name="title">
    </mat-form-field>
    <p>{{title}}</p>

    <!--Puoi usare anche then, leggi docuemntazione ngIf-->
    <p *ngIf="isVisibe; else notvisible">Direttiva Ngif prova</p>
    <ng-template #notvisible>
    <p>
      Direttiva Ngif prova non visibile
    </p>
    </ng-template>

    <!--ngFor esempio semplice, vedi documentazione per altri approfondimenti-->
    <ul>
      <li *ngFor="let fruit of fruits; index as i">
        {{i}} {{fruit.name}} {{fruit.color}}
    </ul>

    <!--ngSwitch vedi documentazione per esempi per altri approfondimenti-->

    <!-- ngStyle -->
    <!-- ngClass molto utile per usare diverse classi CSS-->